@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121212;
  color: #ffffff;
}

html {
  min-width: 640px !important;
}

.secondaryBg{
  background-color: #1e2222;
}

@media only screen and (max-width: 639px) {
  #home-container{
      flex-direction: column !important;
      text-align: center !important;
  }
}

::selection {
  background-color: teal;
}